<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <system.webServer>
  <handlers>
   <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
  </handlers>
  <httpPlatform processPath="D:\home\python364x86\python.exe" arguments="manage.py runserver %HTTP_PLATFORM_PORT%"
        requestTimeout="00:04:00" startupTimeLimit="120" 
        startupRetryCount="3" stdoutLogEnabled="true"
        stdoutLogFile="d:\home\LogFiles\python.log" >
   <environmentVariables>
    <environmentVariable name="PYTHONPATH" value="D:\home\site\wwwroot" />
    <environmentVariable name="PORT" value="%HTTP_PLATFORM_PORT%" />
   </environmentVariables>
  </httpPlatform>
 </system.webServer>
 </configuration>